.toolbar-title,
.toolbar-avatar {
  font-size: 1rem;
  font-weight: 300;
  cursor: default;
}

.toolbar-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    margin: 0 .5rem;

  }

  img {
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
  }

  md-icon {

  }
}

.toolbar-fill-remaining-space {
  flex: 1 1 auto;
}