<md-progress-bar class="app-progress-bar" [mode]="isLoading ? 'indeterminate' : 'determinate'" value="100"></md-progress-bar>

<md-toolbar color="primary">
    <div class="toolbar-title">Trello Project Board Creator</div>
    <div class="toolbar-fill-remaining-space"></div>
    <div class="toolbar-avatar" *ngIf="isAuthorized && user">
        <img [src]="'https://trello-avatars.s3.amazonaws.com/' + user.avatarHash + '/50.png'">
        <p>{{user.username}}</p>
        <button md-icon-button mdTooltip="Unauthorize" md-button (click)="unAuthorize()">
            <md-icon>lock_open</md-icon>
        </button>
    </div>
</md-toolbar>

<router-outlet></router-outlet>
